<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
  <body>
    <main class="bg-slate-50">
      <div class="max-w-3xl mx-auto py-8 shadow sm:rounded-lg p-2 bg-white">
        <ul style="list-style: none;padding-top: 20px;" class=" pb-8 flex items-center justify-between px-6" >
          <a href="/" class="font-semibold text-xl capitalize text-gray-700 hover:text-gray-600"><%= funnelTitle %></a>
          <% if (headerMenue.links) { %>
            <div>
            <% for(var i=0; i<headerMenue.links.length; i++) {%>
              <li style=" display: inline; margin: 5px;">
                <a class="nav-link capitalize text-md text-gray-900 hover:underline" href="<%= headerMenue.links[i].href %>"><%= headerMenue.links[i].title %></a>
              </li>
            <% } %>
            </div>
          <% } else{ %>
            <div></div>
          <% } %>
        </ul>
      <%- html %>
      <ul style="list-style: none;padding-top: 20px;" class=" pb-8 flex items-center justify-between px-6" >
        <a href="/" class="font-semibold text-xl capitalize text-gray-700 hover:text-gray-600"><%= funnelTitle %></a>
        <% if (footerMenue.links) { %>
          <div>
          <% for(var i=0; i<footerMenue.links.length; i++) {%>
            <li style=" display: inline; margin: 5px;">
              <a class="nav-link capitalize text-md text-gray-900 hover:underline" href="<%= footerMenue.links[i].href %>"><%= footerMenue.links[i].title %></a>
            </li>
          <% } %>
          </div>
        <% } else{ %>
          <div></div>
        <% } %>
      </ul>
      </div>
    </main>
  </body>
</html>
