<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
  <body onload="Count()">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXQF4PV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <script>
    function Count() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "https://api.countapi.xyz/hit/mysite.com/awesomeclick");
      xhr.responseType = "json";
      xhr.onload = function () {
        alert(`This button has been clicked ${this.response.value} times!`);
      }
      xhr.send();
    }
  </script>
    <main class="bg-slate-50" style="min-height: 100vh;">
      
      <div class="max-w-3xl mx-auto py-8 shadow sm:rounded-lg p-2 bg-white border-b border-gray-600">
        <ul style="list-style: none;padding-top: 20px;" class=" pb-8 flex items-center justify-between px-6" >
          <% if (image) { %>
            <img src="<%= image %>" height="75" width="75" style="object-fit: cover;" alt="">
          <% } else{ %>
            <a href="/" class="font-semibold text-xl capitalize text-gray-700 hover:text-gray-600"><%= funnelTitle %></a>
          <% } %>

          <% if (headerMenue.links) { %>
            <div>
            <% for(var i=0; i<headerMenue.links.length; i++) {%>
              <li style=" display: inline; margin: 5px;">
                <a class="nav-link capitalize text-md text-gray-900 hover:underline" href="<%= headerMenue.links[i].href %>"><%= headerMenue.links[i].title %></a>
              </li>
            <% } %>
            </div>
          <% } else{ %>
            <div></div>
          <% } %>
        </ul>
        <div class="px-4">
      <%- html %>
        </div>
      <footer  aria-labelledby="footer-heading">
        <div class="mt-8 border-t border-gray-200 pt-8">
          <p class="text-base text-gray-400 xl:text-center">Powered by <a href="https://www.funnelshero.com" class="text-indigo-700 hover:text-indigo-600">Funnelshero</a></p>
        </div>
    </footer>
      </div>
    </main>
  </body>
</html>


